@import '~bootstrap/scss/bootstrap';
@import './partials/_comic';
@import './partials/_show';



body{
    background-color:#333;
    color: rgb(62, 236, 85);
}
img {
    max-width: 150px;
}

form{
    text-align: -webkit-center;
}
