table {
    thead {
        color: red;
    }

    tbody {
        color: #d3ded3;
        tr {
            vertical-align: middle;
            td:nth-child(3) {
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
            }
            &:hover {
                background-color: #f2f200df;
                color: #181c02;
            }
        }
    }
}